<div class="footer">
    <p>© 2021 Webshop | Follow us on</p>
    <ul class="footer-list">
        <li class="footer-item"><a href="https://facebook.com/vodafonero" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
        <li class="footer-item"><a href="https://twitter.com/vodafonebuzz" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
        <li class="footer-item"><a href="https://www.linkedin.com/company/vodafone" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li class="footer-item"><a href="https://instagram.com/vodafone.romania" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
    </ul>
</div>