<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-danger" href="/">WEBSTORE</a>
      </div>
    </nav>
</header>