.main {
    width: 100%;
    height: 100vh;
    background-image: url("https://cdn.vodafone.co.uk/en/assets/images/extralarge/IMG_Background_Polygon_Red.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.main-content {
    width: 100%;
    height: calc(100vh - 112px);
    margin: 0;
}

.footer {
    position: absolute;
}

.footer-item > a:hover{
    color: white;
}