.nav-link {
    color: rgba(255,255,255,.55);
}

.nav-link:focus, .nav-link:hover {
    color: rgba(255,255,255,.55);
}

.container, .main {
    min-height: 80vh;
}



.user-profile {
    text-decoration: none;
    color:white;
    padding-left: 10px;
    align-self: center;
}

.user-profile:hover {
    color:white;
}

.fa-user, .fa-shopping-cart {
    font-size:20px;
}

.nav-link {
    padding-right: 0;
    padding-left: 0;
    padding-top:0.5rem
}

.breadcrumb {
    padding-top: 15px;
}

.breadcrumbs-link {
    text-decoration: none;
    color: black;
}

.breadcrumbs-link:hover {
    color: #808080;
}

.footer {
    bottom: 0;
    display: flex;
    height: 100px;
    width: 100%;
    padding: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.footer-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.footer-item {
    margin: 20px;
    font-size: 24px;
}

.footer-item > a {
    color: black;
}

.footer-item > a:hover{
    color: #f60000;
}

@media (min-width: 992px) {
    .dropdown-menu[data-bs-popper] {
        left: -100px;
    }
}

@media (max-width: 600px){
    .footer{
        flex-direction: column;
    }
    .footer-list{
        padding-left: 0;
    }
}
